<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NServiceBus/Licensepath" value="C:\NServiceBus\License.xml" />    
  </appSettings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Messages" Type="Messages.Commands.DoSomethingCommand" Endpoint="EventPublisher" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>

<!--Additional information: No destination could be found for message type Messages.Commands.DoSomethingCommand. Check the <MessageEndpointMappings> section of the configuration of this endpoint for an entry either for this specific message type or for its assembly.-->